<div>
  <h3>{{getWeatherData.cityName}} ({{getWeatherData.zipcode}})</h3>
  <h4>Current conditions: {{getWeatherData.currentCondition}}</h4>
  <h4>Temperatures today: {{getWeatherData.feelsLike}}</h4>
  <p>
    Current {{getWeatherData.currentTemp}}
    - Max {{getWeatherData.maxTemp}}
    - Min {{getWeatherData.minTemp}}
  </p>
  <p>
    <a [routerLink]="['/forecast',getWeatherData.zipcode]">Show 5-day forecast for {{getWeatherData.cityName}}</a>
  </p>
  </div>
<div>
  <span class="close" (click)="removeCode(getIndex,getWeatherData.zipcode)" style="cursor: pointer;">×</span>
  <img [src]="getImage(getWeatherData.currentCondition)" alt="{{getWeatherData.currentCondition}}">
</div>

